<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="EE Log Category"
            id="Ee.commands.category">
      </category>
      <command
            name="add Entry/Exit log statements"
            categoryId="EeLogHelper.commands.category"
            id="EeLogHelper.commands.createLogStmtCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="EeLogHelper.commands.createLogStmtCommand"
            class="de.anpross.eeloghelper.EeLogHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="EeLogHelper.commands.createLogStmtCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="EeLogHelper"
               mnemonic="M"
               id="EeLogHelper.menus.EeLogMenu">
            <command
                  commandId="EeLogHelper.commands.createLogStmtCommand"
                  mnemonic="S"
                  id="EeLogHelper.menus.createLogStmtCommand">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
